---
import Layout from '../layouts/Layout.astro';
import data from "../../public/data.json";
import HeaderAutoshop from "../components/autoshop/header"
import FeaturesAutoshop from "../components/autoshop/features"
import TeamAutoshop from "../components/autoshop//team"
import TestimonialAutoshop from "../components/autoshop//testimonials"
import FooterAutoshop from "../components/autoshop/footer"
---


<Layout title="EI Autoshop">
	<main>
    <HeaderAutoshop client:only="react" />
    <TeamAutoshop client:only="react" />
    <TestimonialAutoshop client:only="react" />
    <FeaturesAutoshop client:only="react" />
    <FooterAutoshop client:only="react" />
  </main>
</Layout>