---
import Layout from '../layouts/Layout.astro';
import data from "../../public/data.json";
import HeaderAbout from "../components/autoshop/header"
import FeaturesAbout from "../components/autoshop/features"
import TeamAbout from "../components/autoshop//team"
import TestimonialAbout from "../components/autoshop//testimonials"
import FooterAbout from "../components/autoshop/footer"
---


<Layout title="About Us Page">
	<main>
    <HeaderAbout client:only="react" />
    <FeaturesAbout client:only="react" />
    <TestimonialAbout client:only="react" />
    <TeamAbout client:only="react" />
    <FooterAbout client:only="react" />
  </main>
</Layout>