---
import Layout from '../layouts/Layout.astro';
import data from "../../public/data.json";
import HeaderCart from "../components/cart/header"
import FeaturesCart from "../components/cart/features"
import TeamCart from "../components/cart/team"
import TestimonialCart from "../components/cart/testimonials"
import FooterCart from "../components/cart/footer"
---


<Layout title="EI Cart Page">
	<main>
    <HeaderCart client:only="react" />
    {/* <TeamCart client:only="react" /> */}
    {/* <FeaturesCart client:only="react" /> */}
    {/* <TestimonialCart client:only="react" /> */}
    {/*<FooterCart client:only="react" /> */}
  </main>
</Layout>